@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 0.18px;
  color: #000000;
}

.btn {
  position: relative;
  z-index: 1;

  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3.6px;

  transition: 0.3s;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: '';

  position: absolute;
  top: 33.3%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  width: 100%;
  margin: 0 auto;

  border-top: 8px solid #f0c52e;
}

.main-header {
  padding-top: 40px;
}

.main-header a {
  font: inherit;
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-header__logotype-wrap {
  position: relative;
}

.main-header__logotype {
  position: absolute;
  top: -18px;
  left: 60px;
}

.main-header__container {
  padding: 0 60px;
  padding-top: 45px;
  background-color: #f7e296;
}

.main-header__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-header__search {
  width: 520px;
  margin-right: 20px;
}

.user-menu {
  display: flex;
  width: 500px;
}

.user-menu__login,
.user-menu__other {
  display: flex;
}

.user-menu__login {
  width: 260px;
  margin-right: 20px;
}

.user-menu__login li:not(:last-child) {
  margin-right: 20px;
}

.user-menu__other {
  justify-content: space-between;
  width: 220px;
}

.catalog-menu {
  width: 500px;
}

.site-menu {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.site-menu__dg {
  display: flex;
  width: 260px;
  margin-right: 20px;
}

.site-menu__dg li:not(:last-child) {
  margin-right: 35px;
}

.site-menu__contacts {
  display: flex;
  justify-content: flex-end;
  width: 220px;
}

.main-header .menu-link--bold {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-catalog__list {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 0;
}

.main-catalog__list li {
  width: 220px;
}



.slides {
  margin-bottom: 100px;
}



.inner-page .main__wrap {
  padding-left: 60px;
}


.inner-page .main__container {
  display: flex;
  /* flex-wrap: wrap; */
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -20px;
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.3;
}

.breadcrumbs a:visited {
  color: inherit;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs__current {
  opacity: 0.3;
}

.breadcrumbs__current::after {
  display: none;
}

.main-catalog__list a {
  line-height: 36px;
}

.popular {
  margin-bottom: 180px;
}

.popular__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.popular__item {
  width: 160px;
}

.popular__list a {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.18px;
  color: #000000;
}

.popular__list div {

  height: 160px;

  display: flex;
  justify-content: center;

  background-color: #f7e296;
}

.popular__list div:hover,
.popular__list div:focus {
  background-color: #f0c52e;
}

.popular__list div:active>img {
  opacity: 0.3;
}

.popular__item:nth-child(2) img {
  align-self: flex-end;
}

.services {
  margin-bottom: 95px;
  background-color: #e5e5e5;
}

.service-wrap {
  display: flex;
  align-items: center;
}

.service__list {
  display: flex;
  flex-direction: column;

  width: 280px;
  margin-right: 120px;
}

.service {

  width: 700px;
}

.service h3,
.info h3 {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 0.18px;
  color: #000000;
}

.btn__service:active,
.btn__service--checked {
  color: #f7e184;
  background-color: #000000;
}

.logotypes {
  margin-bottom: 95px;
}

.logo__list {
  display: flex;

}

.logo__item {
  opacity: 0.2;
  filter: grayscale(100);
}

.logo__item:hover,
.logo__item:focus {
  opacity: 1;
  filter: grayscale(0);
}

.info {
  margin-bottom: 90px;
}

.info-wrapper {
  display: flex;
  justify-content: space-around;
}

.info__about,
.info__contacts {
  width: 560px;
  margin: 0 20px;
}

.transport__item {
  position: relative;

  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 0.18px;
  color: #000000;
}

.transport__item::before {
  content: "";

  position: absolute;
  left: -33px;
  top: 15px;

  display: block;
  width: 8px;
  height: 8px;
  color: #e5e5e5;

  background-image: url('../img/trans-button.png');
}

.btn__write {
  border: none;
  background: none;
}

.filters {
  width: 330px;
  background-color: #efefef;
}


.filters fieldset {
  border: none;
  border-top: 2px solid #000000;
}

.filters legend {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.filters h3,
.sorting h3 {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.filters h3 {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 69px;
  background-color: #dcdcdc;
}

.filters label {
  font-size: 14px;
  line-height: 40px;
}

.sorting {
  background-color: #efefef;
}

.sorting label {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sorting input:checked+label {
  opacity: 1;
}

.catalog {
  width: 830px;
  margin-bottom: 40px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  margin: 0 0;
}

.catalog__item:nth-child(2n + 1) {
  margin-right: 40px;
}

.catalog__item__title {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
}

.catalog__item__price {
  font-family: 'Gilroy Light', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.navigation {}

.navigation {
  width: 760px;

  background-color: #ebebeb;

}

.navigation__list li {
  display: inline-block;
}

.navigation a {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
}

.navigation__page {
  opacity: 0.3;
}

.navigation__page:hover,
.navigation__page:focus {
  opacity: 1;
}

.page-current {
  opacity: 1;
}

.navigation .btn-next:hover,
.navigation .btn-next:focus,
.navigation .btn-back:hover,
.navigation .btn-back:focus {
  background-color: #d9d9d9;
}

.navigation .btn-next:active>span,
.navigation .btn-back:active>span {
  background-color: #d9d9d9;
  opacity: 0.3;
}

.button__compare {
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  opacity: 0.5;
}

.button__compare:hover,
.button__compare:focus {
  opacity: 1;
}

.button__compare:active {
  opacity: 0.2;
}

.main-footer {
  padding: 65px 0;
  color: #ffffff;

  background-color: #464646;
}

.main-footer__wrap {
  display: flex;
  justify-content: space-between;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  opacity: 0.6;
}

.main-footer a:active {
  opacity: 0.3;
}

.main-footer__logo img {
  /* filter: */
}

.modal__write_us label {
  font-family: 'Gilroy ExtraBold', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 0.18px;
  color: #000000;
}

.btn__submit {
  border: none;
  background: none;
}

.modal__map img {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
